<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.email.dao.MailDao">
    <resultMap id="BaseResultMap" type="com.example.email.domain.Mail">
        <result column="id" property="mailId" />
        <result column="u_name" property="username" />
        <result column="subject" property="subject" />
        <result column="s_name" property="sender" />
        <result column="content" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
		id, u_name, subject, s_name, content
	</sql>

    <select id="findMailById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from mail
        where id = #{id}
    </select>

    <insert id="insertMail" parameterType="com.example.email.domain.Mail">
        insert into mail (u_name, subject, s_name, content) values
        (#{userName}, #{subject}, #{senderName}, #{content})
    </insert>


</mapper>
